nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

.page-title {
  text-align: center;
  font-weight: 100;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: AntiqueWhite;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}

p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

/********************************/
/*** Navigation ***/
/********************************/
#navigation {
background:#F1F1F1;
height:50px;
position:fixed;
z-index:999999;
width:100%;
-webkit-backface-visibility: hidden;
border-bottom: 1px solid #ebebeb;
}
.slicknav_menu {
display:none;
}
#navigation .container {
position:relative;
}
.menu {
float:left;
}
.menu li {
display:inline-block;
margin-right:25px;
position:relative;
}
.menu li a {
font:11px Lato;
font-weight:400;
letter-spacing:2px;
color:#303030;
-webkit-transition: .3s;
font-weight: 400;
letter-spacing: 0.09em;
display: block;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 51px;
}
ul.sub-menu li:after {
content: "|";
padding-left: 10px;
color: #565656;
display: none;
}
/*** DROPDOWN ***/
.menu .sub-menu,
.menu .children {
background-color: #171717;
display: none;
padding: 0;
position: absolute;
margin-top:0;
left: 0;
z-index: 99999;
}
ul.menu ul a,
.menu ul ul a {
color: #999;
margin: 0;
padding: 6px 10px 7px 10px;
min-width: 160px;
line-height:20px;
-o-transition:.25s;
-ms-transition:.25s;
-moz-transition:.25s;
-webkit-transition:.25s;
transition:.25s;
}
ul.menu ul li,
.menu ul ul li {
padding-right:0;
margin-right:0;
}
ul.menu ul a:hover,
.menu ul ul a:hover {
color: #fff;
background:#333;
}
ul.menu li:hover > ul,
.menu ul li:hover > ul {
display: block;
}
.menu .sub-menu ul,
.menu .children ul {
left: 100%;
top: 0;
}

#footer {
	color: AntiqueWhite;
	font-size: 16px;
}





