 navbar-wrapper {
  background-color: #FFF;
  text-color: #ffddf4;
  font-family: Crimson Text;
  display: inline;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}


page-title {
  text-align: center;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: 600;
  color: #222222;
  line-height: 1.5; 
  ext-align: center;
}

h1 {
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: AntiqueWhite;
}

h2 {
	color: #ffffff;
	font-size: 56px; 
}

p {
	color: #ffffff;
	font-size: 2em;
}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

/* FOOTER NAVIGATION */

nav {
  background-color: #FFF;
}

nav li {
  margin: 0;
  padding: 0 10px;
  display: inline;
}

nav ul {
  display: inline;
}

#footer {
	color: AntiqueWhite;
	font-size: 16px;
}





